.page_container {
  height: 100vmax;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.page_header {
  background-color: lightblue;
  flex: 1;
}

.page_content {
  background-color: white;
  display: flex;
  flex: 5 2 auto;
}

.content_navigation {
  background-color: blueviolet;
  flex: 1;
}

.content_article {
  background-color: olive;
  flex: 2 2 12em;
}

.content_side_bar {
  background-color: red;
  flex: 1;
}

.page_footer {
  background-color: gray;
  flex: 1;
}

@media screen and (max-width: 500px) {
  .page_content {
    flex-direction: column;
  }
}
