.content {
  display: flex;
  flex-direction: row;
  justify-self: center;
  column-gap: 5px;
}

.shadow {
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.49);
}
