* {
  margin: 0;
  padding: 0;
}

.searchbar {
  width: 110vh;
  height: 40px;
  border: none;
  border-radius: 0 0 0 0;
  background-color: white;
  display: flex;
  align-items: center;
}

.search_input {
  border: none;
  flex: 1 1 auto;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px 10px 5px 10px;
}

.search_input:focus {
  outline: none;
}

.border_right {
  border-right: 3px solid rgb(208, 207, 207);
}

.search_btn {
  border: none;
  border-radius: 0 0 0 0;
  height: inherit;
  color: white;
  background-color: red;
  padding: 0 10px 0 10px;
}

.search_btn:focus {
  outline: none;
}

.search_icon {
  padding-top: 5px;
  fill: white;
}
