* {
  margin: 0;
  border: 0;
  padding: 0;
}

.page_container {
  height: 100vmax;
  display: grid;
  grid: auto 8fr 1fr / 1.44fr 2fr 2fr 2fr;
  grid-template-areas:
    "header header header header"
    "navigation article article sidebar"
    "footer footer footer footer";
}

.page_header {
  grid-area: header;
  position: sticky;
  top: 0px;
}

.page_content {
  background-color: white;
  display: contents;
}

.content_navigation {
  background-color: white;
  grid-area: navigation;
}

.content_article {
  grid-area: article;
  border-left: 1px solid rgb(208, 207, 207);
  border-right: 1px solid rgb(208, 207, 207);
}

.content_side_bar {
  background-color: white;
  grid-area: sidebar;
}

.page_footer {
  background-color: gray;
  grid-area: footer;
}

@media screen and (max-width: 500px) {
}
