.container {
  padding: 1.5em 2em 0 2em;
}

.heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(228, 226, 226);
}
