* {
  margin: 0;
}

.page-container {
  height: 100%;
  border: 2px solid black;
  display: grid;
  grid: 1fr 8fr 1fr / repeat(4, auto);
  grid-template-areas:
    "header header header header"
    "navigation article article sidebar"
    "footer footer footer footer";
}

.page-header {
  background-color: lightblue;
  grid-area: header;
}

.page-content {
  background-color: white;
  display: contents;
}

.content-navigation {
  background-color: blueviolet;
  grid-area: navigation;
}

.content-article {
  background-color: olive;
  grid-area: article;
}

.content-side-bar {
  background-color: red;
  grid-area: sidebar;
}

.page-footer {
  background-color: gray;
  grid-area: footer;
}

@media screen and (max-width: 500px) {
}
