.topbar {
  height: 13vh;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid rgb(208, 207, 207);
  background-color: white;
  align-items: center;
  display: grid;
  grid: auto / 1.5fr 4fr 2fr;
  gap: 5px;
}

.btn {
  background-color: white;
  border: 2px solid rgb(177, 176, 176);
}

.btn_signup {
  font-weight: 500;
  background-color: red;
  color: white;
}

.btn:hover {
  border: 2px solid black;
}
