.topbar {
  height: 15vh;
  width: 100%;
  margin: 0;
  background-color: rgb(249, 253, 1);
  align-items: center;
  display: grid;
  grid: auto / 1.5fr 4fr 2fr;
}

.topbar_contents {
  display: contents;
}
