/* MAP */
.container {
  flex: 1 1 auto;
  display: flex;
  background-color: gray;
}

.map {
  flex: 1 1 auto;
  padding: 2rem;
  background-color: gray;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #2d3439;
  color: #ececec;
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: #2d3439;
}
